---
import AsideInfoComponent from "./AsideInfoComponent.astro";
import info from "../../data/Info/Info.json";
import  TextList from "./Text.jsx";
 const data = [
    {
      title: '',
      texts: [
        '',
        'La madera es usada en construcción civil como vigas, ripas, marcos de puertas, mangos de herramientas, carrocerías, laminados, torneados y construcción naval. La madera es de muy buena calidad, semidura a semipesada. Es trabajable y de buena durabilidad (Carnevale, 1983; sacado de Rueda, 2019)',
        'El aceite de la copaiba posee usos medicinales y en perfumería. Se cree que la copaiba tiene propiedades diuréticas, desinfectantes y estimulante. Se ha utilizado como tratamiento d enfermedades tales como la bronquitis, ampollas, catarro y diarrea crónica. En la medicina tradicional se usa para sanar cortes grandes (externo), también contra la tos, problemas respiratorios (IMET, 1995; sacado de Rueda, 2019)',
        'El aceite de copaíba posee ácido copaíbico como principio activo, el cual es procesado a través de los riñones y ejerce funciones como antiséptico y antiinflamatorio en las mucosas de los sistemas genitourinarios (IMET,1995; sacado de Rueda, 2019)',
      ],
    },
   
  ];

---

<nav class="flex flex-col flex-1 gap-2 p-3 scroll-bar ">
    <h5 class="text-xl font-bold text-center">Información</h5>
    <div class="bg-lime-100 rounded-lg p-2">
        <div class="flex flex-col gap-2 text-zinc-800 bg-lime-200 p-5 rounded-lg">
            <div class="flex flex-col ">
                <h3 class="text-lg font-semibold"><span class="italic">Copaifera sp</span> Ciclo de vida y generalidades </h3>
            </div>
            <p class="text-sm leading-relaxed"><span class="italic">Copaifera sp</span> crece mejor en sombra durante su fase joven, pero después necesita sol para alcanzar altura y diámetro de un adulto productivo. Pertenece al grupo sucesional secundaria tardía a clímax, encontrándose también en áreas abiertas de vegetación secundaría; se desarrolla de manera silvestre en suelos de tierra firme y se le puede cultivar en climas tropicales, secos y húmedos. Crece en formaciones vegetales del Bosque húmedo tropical, Bosque húmedo sub tropical, Bosque montano bajo subtropical, Bosque montano subtropical y Bosque seco tropical. Distribuida entre los 50 a 1200 m.s.n.m.”(Rueda, 2019). La Copaiba es una planta esciófita, que prospera en la sombra, en sus primeros años y muestra una tolerancia moderada al frío. Su crecimiento es simpodial, con ramas laterales que se desarrollan más que su eje principal. No se ha determinado su capacidad de rebrote, no requiere podas artificiales , puesto q a medida que crece, este va perdiendo las ramas viejas. Para su regeneración, puede ser plantada en campo abierto, fajas de enriquecimiento y sistemas agroforestales (Rueda, 2019).

<span class="italic">Copaifera sp</span>, comúnmente conocida como copaíba, es una leguminosa que se encuentra principalmente en zonas tropicales de América Latina, como la cuenca del Amazonas. El árbol es famoso por su importancia en la medicina tradicional y por la producción del valioso aceite esencial extraído de su resina, conocido como aceite de copaiba o balsamo. Los árboles de copaiba son grandes y pueden alcanzar grandes alturas. Su tronco tiene cavidades llenas de una resina aromática transparente, de la que se extrae el aceite de copaiba. Este aceite ha sido utilizado durante siglos por diversas culturas indígenas de la región amazónica por sus propiedades medicinales. Se utiliza tradicionalmente para tratar una variedad de afecciones como inflamación, infección y problemas respiratorios
            </p>
            <p class="text-sm leading-relaxed"> Su fruto.una silicua con semillas aladas, facilita su dispersión (JBBJCM & UniAndes, 2020). El Chicalá, resistente y adaptable, contribuye a mejorar las condiciones del suelo en entornos arcillosos o pedregosos. Además de ser atractiva para la fauna, siendo melífera y medicinal, esta especie se emplea como cerca viva, fuente de sombra y con fines ornamentales debido a sus flores llamativas. Catalogado como de 'Preocupación Menor' en términos de conservación, el Chicalá destaca por su versatilidad y contribuciones a la biodiversidad en su hábitat colombiano.</pclass="text-sm>
                <h3 class="text-lg font-semibold">Usos🌱</h3>
                <ul class="list-none space-y-4 flex flex-col">
                    {data.map((item, index) => (
                        <TextList  title={item.title} texts={item.texts} />
                    ))}
                </ul>
            </div>
    </div>
</nav>