---
import { Operation } from "./Operation";
---
<div class="m-4">
    <div class="px-8 py-5">
        <section class="bg-lime-50  shadow-lg rounded-lg p-8 mb-5">

            <div class="flex justify-center ">
                <img class=" w-52 h-auto mb-5" src ="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Logo_de_la_Universidad_El_Bosque.svg/1200px-Logo_de_la_Universidad_El_Bosque.svg.png" >
            </div>
            <h1 class="text-2xl font-bold text-center" style="color: #343a40;">
                Aplicación del modelo matricial de leslie con modificacion densopoblacional en  <span class="italic" style="color: #343a40;">Copaifera officinalis (Jacq. L, 1762)</span> en la reserva de la Sociedad Civil “Amanecer en el Palmar” Tilodirán, El Yopal-Casanare
               
            </h1>
             <h2 class="text-lg text-center  mt-2" style="color: rgb(46, 50, 53);">Realizado por:</h2>
                <h3 class="text-md text-center  mt-2" style="color: rgb(46, 50, 53);" >Beltran Gomez Maria Jose</h3> 
                <h3 class="text-md text-center  mt-2" style="color: rgb(46, 50, 53);">Gonzalez Alarcon Angela Mariae</h3>
                <h3 class="text-md text-center  mt-2" style="color: rgb(46, 50, 53);">Yaima Velandia Carol</h3>
                <h3 class="text-md text-center  mt-2 mb-2" style="color: rgb(46, 50, 53);">Daniela Neira Muete Manuel</h3>
                
 </h2>
        <h2 class="text-lg text-center font-bold" style="color: rgb(46, 50, 53);">Ecopoblaciones 2023</h2>
    
        <!-- Introducción -->
        <section class="mt-5">
            <h3 class="text-lg text-center font-bold" style="color: rgb(46, 50, 53);">Introducción</h3>
            <p class="text-center mt-2" style="color: rgb(46, 50, 53);">
                En esta simulación se evalúa el crecimiento de una población de
                <span class="italic" style="color: #343a40;">Copaifera officinalis</span>
                con una matriz de Leslie densodepnediente a través del tiempo. La simulación permite
                Los valores iniciales fueron obtenidos en  en la reserva de la Sociedad Civil “Amanecer en el Palmar” Tilodirán, El Yopal-Casanare.
            </p>
            <h4 class="text-md font-bold mb-3 text-gray-800">Ciclo de vida</h4>
             <div class="mt-3 w-xs flex justify-center">
                    <img class="shadow-lg  rounded-lg mb-5" src="https://media.discordapp.net/attachments/635830987011522560/1176941888255836270/Untitled-2023-10-26-1151.png?ex=6570b38c&is=655e3e8c&hm=c05acc0cd222cf75a36804f7d82b5f8829619578a5eef135de4fcf6c77cf37c0&=&width=801&height=379">
                    </img>
                </div>
                <p class="text-sm text-center">"Beltran, 2023"</p>
        <!-- Objetivos -->
        </section >
        <section class="mt-5">
            <h3 class="text-lg text-center font-bold mb-3 text-gray-800">Objetivos</h3>
            <section class="mt-5">
                <h4 class="text-md font-bold mb-3 text-gray-800">Objetivo general</h4>
                <p style="color: rgb(46, 50, 53);">Aplicar el modelo matricial de Leslie con modificación densopoblacional en <span class="italic">Copaifera officinalis</span>  en la reserva de la Sociedad Civil “Amanecer en el Palmar” Tilodirán, El Yopal-Casanare en la región de Bogota, Cundinamarca barrio Cedritos, con el fin de comprender y prever las dinámicas poblacionales de esta especie a lo largo de su ciclo de vida.</p>
            </section>
            <section class="mt-5">
                  <h4 class="text-md font-bold mb-3 text-gray-800">Objetivo Especifico</h4>
                <ul class="list-disc list-inside text-gray-700 ml-4">
                    <li class="mb-2">Implementar un modelo matricial de leslie a   <span class="italic" style="color: #343a40;">Copaifera officinalis</span> presente  haciendo uso de lenguaje Javascript</li>
                    <li class="mb-2">Teniendo en cuenta el codigo realizado, realizar una pagina web por medio del lenguaje HTML  y CSS junto a Javascript</li>
                    <li class="mb-2">Investigar las tasas de supervivencia y reproducción de  <span class="italic" style="color: #343a40;">Copaifera officinalis</span> teniendo en cuenta como estas se relacionan con la época de lluvia.</li>
                     <li class="mb-2">Realizar una estimacion del comportamiento de dinámica poblacional teniendo en cuenta los distintos tipos de edad de  <span class="italic" style="color: #343a40;">Copaifera officinalis</span></li>
                </ul>
            </section>
        </section>
        </section>
           <section class="bg-lime-50 shadow-lg rounded-lg p-5 mt-5">
           <h3 class="text-lg text-center font-bold text-gray-800">Método</h3>
           
          
                <h4 class="text-md font-bold mb-3 text-gray-800">Matriz de Leslie Densodependiente </h4>
                <p class="mt-2 leading-relaxed text-gray-700">
                La simulación permite observar el crecimiento de la población. Para entender el funcionamiento de la matriz de Leslie densodependiente, primero debemos hallar las poblaciones y las tasas para cada estadio respectivamente. 
                el aplicativo actual es capaz de calcular estas tasas por medio de las poblaciones iniciales, sin embargo es importante saber de donde vienen cada una, de acuerdo a lo obtenido de la investigación se obtuvieron las primeras poblaciones iniciales
                </p>
                <ul class="list-disc list-inside text-gray-700 ml-4">
                    <li class="mb-2">Número de semillas: 147</li>
                    <li class="mb-2">Número de plántulas: 149</li>
                    <li class="mb-2">Número de juveniles 1: 30</li>
                    <li class="mb-2">Número de juveniles 2: 15</li>
                    <li class="mb-2">Número de adultos: 6</li>
                </ul>
                <p class="mt-2 leading-relaxed text-gray-700">
                Luego, para hallar las tasas, primero debemos hacer un estimado por medio de la proporcion de semillas por adultos, lo cual nos da 24,5.
                </p>
                <p class="mt-2 leading-relaxed text-gray-700">
                    Para el caso de las tasas de paso, lo que se hace es comparar primeramente la cantidad de individuos en el estadio S(0) con los  individuos en el estadio S(x), lo cual nos da una operación tipo, esto nos dara el porcetaje de supervivencia:
                </p>
                <p class="mt-3 text-center leading-relaxed text-gray-700">l(x)= S(x)/S(0) para cada estadio</p>
                <p class="mt-2 leading-relaxed text-gray-700">
                Luego, realizamos la misma comparación con los resultados obtenidos del estadio siguiente, con el estadio actual, para poder hallar la tasa de paso:
                </p>
                <p class="mt-3 text-center leading-relaxed text-gray-700">b(x) = l(x+1)/l(x)</p>
                <p class="mt-3 text-center leading-relaxed text-gray-700">Por ultimo se acomodan las tasas respectivamente en la matriz y se realiza el proceso de multiplicación por la población inicial un numero determinado de veces como se muestra en la siguiente grafica</p>
                  <div class="mt-3 w-xs flex justify-center">
                    <img src="https://media.discordapp.net/attachments/635830987011522560/1175053324354068480/image.png?ex=6569d4af&is=65575faf&hm=a7cb772731af2a0583bab66b858d02cf915a97884eac4831cff470cbd1207c11&=&width=1000&height=355">
                    </img>
                </div>
                <p>Debido a que es densodependiente deberemos aplicar la siguiente modificación al proceso </p>
                <div class="mt-3 w-xs flex justify-center">
                    <img src="https://media.discordapp.net/attachments/635830987011522560/1177689714808066138/tempsnip.png?ex=65736c04&is=6560f704&hm=e633f2a2d851e5b51b232518f3661b1711e388fd8fddf6ee453d6942f41f7aaf&=&format=webp&width=1025&height=465">
                    </img>
                </div>
                <p>Donde a cada iteracion se calcula una nueva tasa de fertilidad dependiente del total la población en ese estadio</p>
                
                <h4 class="text-md font-bold mb-3 text-gray-800">Codigo</h4>
                <p class="mt-3  leading-relaxed text-gray-700">Para el caso del codigo se utilizaron 3 lenguajes que cumpliran funciones especificas, estos son html, css, y Javascript el cual es parecido a python. Los dos primeros cumplen la función de estilizar la pagina, y el tercero de realizar, la parte funcional de este.
                </p>
                <p class="mt-3  leading-relaxed text-gray-700">El codigo recibe los valores de la matriz, el rango y el tiempo en la parte del funcionamiento, y realiza la operación principal la cual es la siguiente
                </p>
                <div class="mt-3 w-xs flex justify-center">
                    <img src="https://media.discordapp.net/attachments/635830987011522560/1177693148890267728/image.png?ex=65736f37&is=6560fa37&hm=3b4a5995ae9efa7146c8dfda747b80155e97e322acf82404cc176cb94e3be9a7&=&format=webp&width=1025&height=228">
                    </img>
                </div>
                   <div class="mt-3 w-xs flex justify-center">
                    <img src="https://media.discordapp.net/attachments/635830987011522560/1177693213289611346/image.png?ex=65736f46&is=6560fa46&hm=d59aa3176c4cf3dc33b2e6a198bee06595a8edf38d00f2a70f310ecda70f19a8&=&format=webp">
                    </img>
                </div>
                 <div class="mt-3 w-xs flex justify-center">
                    <img src="https://media.discordapp.net/attachments/635830987011522560/1177693373713350768/image.png?ex=65736f6c&is=6560fa6c&hm=590dc677529028cd522e46301c2994784858be66450d06dba988130dd0721ff5&=&format=webp&width=1025&height=193">
                    </img>
                </div>
                
                
       </section>
        </section>
    <!-- Metodología -->
     
       <section class="bg-lime-50 shadow-lg rounded-lg p-5">
            <Operation client:load />
       </section>
      
               
       
        <section class="bg-lime-50 shadow-lg rounded-lg p-5 mt-5">
             <h3 class="text-lg text-center font-bold mb-3 " style="color: rgb(46, 50, 53);">Bibliografia</h3>
                <ul class="list-disc list-inside text-gray-700 ml-4">
                    <li class="mb-2 ">Rueda Correa Hernado (2019) “ESTABLECIMIENTO DEL CULTIVO DE ACEITE DE PALO (Copaifera officinalis) EN LA SERRANÍA DE SAN MARTIN - META. UNIVERSIDAD DE LOS LLANOS FACULTAD DE CIENCIAS AGROPECUARIAS Y RECURSOS NATURALES ESCUELA DE CIENCIAS AGRÍCOLAS PROGRAMA DE INGENIERÍA AGRONÓMICA https://repositorio.unillanos.edu.co/bitstream/handle/001/1413/Establecimiento%20del%20Cultivo%20de%20Aceite%20de%20Palo....pdf?sequence=2&isAllowed=y
</li>
                    <li class="mb-2">Fábio Socolowski, Cristine, D., & Takaki, M. (2008). Interaction of temperature and light on seed germination in Tecoma stans L. Juss. ex Kunth (Bignoniaceae). Brazilian Archives of Biology and Technology, 51(4), 523–530. https://doi.org/10.1590/s1516-89132008000400010</li>
                     <li class="mb-2">Leslie, P. H. (1945). On the use of matrices in certain population mathematics. Biometrika, 33(3), 183-212.</li>
                </ul>
       </section>
    </div>
</div>
